__pycache__/
*.py[cod]
*.so
*.egg-info/
dist/
build/
db.sqlite3
.env
.venv/
venv/
staticfiles/
media/
*.log
.DS_Store
node_modules/
.idea/
.vscode/
frontend/dist/
docs_from_cp/*.pdf
docs_from_cp/*.xlsx
